@model UnitServiceModel
@{
    ViewData["Title"] = "Edit";
}

<h2 class="darkBackground">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 darkBackground">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <img src="data:image;base64,@Convert.ToBase64String(Model.Image)" width="100" height="100" />
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnlockLevel"></label>
                <input asp-for="UnlockLevel" class="form-control" min="1" max="10" />
                <span asp-validation-for="UnlockLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpWorth"></label>
                <input asp-for="ExpWorth" class="form-control" min="1" max="50" />
                <span asp-validation-for="ExpWorth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MineralCost"></label>
                <input asp-for="MineralCost" class="form-control" min="50" max="2000" />
                <span asp-validation-for="MineralCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasCost"></label>
                <input asp-for="GasCost" class="form-control" min="0" max="2000" />
                <span asp-validation-for="GasCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health"></label>
                <input asp-for="Health" class="form-control" min="1" max="5000" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Damage"></label>
                <input asp-for="Damage" class="form-control" min="1" max="500" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" name="image" accept=".png" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Edit unit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}