body {
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("http://www.reuun.com/data/out/121/403524698-starcraft-2-wallpapers.jpg") no-repeat;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.pagination li.disabled a {
    pointer-events: none;
}

/* Registered user home page css */
.clickable:hover {
    outline: 2px solid yellow;
}

.container-fluid {
    position: relative;
}

.background {
    width: 80%;
}

.img-2 {
    position: absolute;
    width: 20%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-3 {
    position: absolute;
    width: 20%;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.img-4 {
    position: absolute;
    width: 20%;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.jumbotron {
    background-color: #1d232d;
}

.navbar {
    background-color: #1d232d;
}

.darkBackground {
    background-color: #1d232d;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 50px;
}

.table {
    background-color: #1d232d;
}