@model Race
@{
    this.ViewData["Title"] = "StarCraft";
}

<h1 class="text-center darkBackground">@this.ViewData["Title"]</h1>
@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron text-center">
        <iframe width="480" height="234" src="https://www.youtube.com/embed/H4Z6Rmbtk1k"></iframe>
        <br />
        <div>
            StarCraft introduced many revolutionary new features that have since become staples of the real-time strategy genre: asymmetric factions, meticulous balance, and a strong emphasis on deep strategy and high accessibility. Find out why, after more than ten years, StarCraft continues to headline gaming tournaments worldwide.
        </div>
        <br />
        <div>Wanna try the game out? Register <a asp-controller="Account" asp-action="Register">here</a> if you are new or login <a asp-controller="Account" asp-action="Login">here</a> if you have an account.</div>
    </div>
}
else if (!User.IsInRole(WebConstants.AdministratorRole))
{
<div class="container-fluid text-center">
    @if (Model == Race.Terran)
    {
        <img class="background darkBackground" src="~/images/StarCraftImage.png" alt="Background">
        <a asp-controller="Users" asp-action="BuyBuilding"><img title="Buy buildings" class="container-fluid img-2 clickable" src="~/images/homeScreen/terran/61.png" alt="Buy Buildings"></a>
        <a asp-controller="Users" asp-action="BuyUnit"><img title="Buy units" class="container-fluid img-3 clickable" src="~/images/homeScreen/terran/60.png" alt="Buy Units"></a>
        <a asp-controller="Users" asp-action="FindRandomPlayer"><img title="Battle enemy" class="container-fluid img-4 clickable" src="~/images/homeScreen/197.png" alt="Find Random Player"></a>
    }
    else if (Model == Race.Zerg)
    {
        <img class="background darkBackground" src="~/images/StarCraftImage.png" alt="Background">
        <a asp-controller="Users" asp-action="BuyBuilding"><img title="Buy buildings" class="container-fluid img-2 clickable" src="~/images/homeScreen/zerg/280.png" alt="Buy Buildings"></a>
        <a asp-controller="Users" asp-action="BuyUnit"><img title="Buy units" class="container-fluid img-3 clickable" src="~/images/homeScreen/zerg/300.png" alt="Buy Units"></a>
        <a asp-controller="Users" asp-action="FindRandomPlayer"><img title="Battle enemy" class="container-fluid img-4 clickable" src="~/images/homeScreen/197.png" alt="Find Random Player"></a>
    }
    else if (Model == Race.Protoss)
    {
        <img class="background darkBackground" src="~/images/StarCraftImage.png" alt="Background">
        <a asp-controller="Users" asp-action="BuyBuilding"><img title="Buy buildings" class="container-fluid img-2 clickable" src="~/images/homeScreen/protoss/506.png" alt="Buy Buildings"></a>
        <a asp-controller="Users" asp-action="BuyUnit"><img title="Buy units" class="container-fluid img-3 clickable" src="~/images/homeScreen/protoss/504.png" alt="Buy Units"></a>
        <a asp-controller="Users" asp-action="FindRandomPlayer"><img title="Battle enemy" class="container-fluid img-4 clickable" src="~/images/homeScreen/197.png" alt="Find Random Player"></a>
    }
</div>
}