@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

@*<img class="img1" src="~/images/StarCraftImage.png" />*@
<div class="container BGB">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button class="btn btn-default text-center">
                <img class="img2" src="~/images/61.png" />
            </button>
        </div>
        <div class="col-md-4"></div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button class="btn btn-default text-center">
                    <img class="img2" src="~/images/61.png" />
                </button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<style>
    .BGB {
        background-image: url("https://vignette4.wikia.nocookie.net/starcraft/images/a/a8/Legacy_SC1_Map1.jpg");
    }
</style>